<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<p>草</p>
	<form action="/users/create" th:action="@{/users/create}" th:object="${form}" method="post">
	<p th:text="${message}" />
	<label th:each="error : ${#fields.detailedErrors()}"> <q
			th:text="${error.message}" style="color:red"></q><br></label>
		<label for="name">お名前</label>
		<input type="text" name="name" th:field="*{name}" />

		<label for="rawPassword">パスワード</label>
		<input type="password" name="rawPassword" th:field="*{rawPassword}" />

		<label for="comfirmPw">確認用パスワード</label>
		<input type="password" name="comfirmPw" th:field="*{comfirmPw}" />

		<label for="loginId">ログインID</label>
		<input type="text" name="loginId" th:field="*{loginId}" />

		<label for="brancheName">支店</label>
			<select name="branchId" id = "branches">
				<option th:each="br: ${branches}" th:value="${br.id}"
					th:selected="${br.id == form.branchId}" th:text="${br.branchName}"></option>
			</select>

		<label for="departmentName">部署・役職</label>
			<select name="departmentId" id = "departments">
				<option th:each="depa: ${departments}" th:value="${depa.id}"
					th:selected="${depa.id == form.departmentId}" th:text="${depa.departmentName}"></option>
			</select><br>

		<input type="submit" value="登録">
	</form>
</body>
</html>