<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<p>草</p>
	<a th:href="@{/users/create}">新規登録</a>

	<table border="1" >
		<tr>
			<th>ログインID</th>
			<th>名称</th>
			<th>支店名</th>
			<th>部署・役職名</th>
			<th>ユーザー編集</th>
			<th>ステータス変更</th>
		</tr>
		<tr th:each="users: ${users}">
			<td th:text="${users.loginId}"></td>
			<td th:text="${users.name}"></td>
			<td th:text="${users.branchName}"></td>
			<td th:text="${users.departmentName}"></td>

			<td>
				<form action="users/settings" method="get">
					<input type="submit" value="編集">
    	        	<input type="hidden" name="id" th:value="${users.id}">
            	</form>
            </td>

            <td>
				<form action="users/stop" method="post">
    	        	<input type="hidden" name="id" th:value="${users.id}">
    	        	<input type="submit" value="停止" onclick="return confirm('停止よろしいですか？')">
            	</form>

				<form action="users/start" method="post">
    	        	<input type="hidden" name="id" th:value="${users.id}">
    	        	<input type="submit" value="復活" onclick="return confirm('復活よろしいですか？')">
            	</form>
            </td>
		</tr>
	</table>
</body>
</html>