<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ユーザ編集</title>
</head>
<body>
	<p>ユーザ編集</p>
	<form action="/users/settings" th:action="@{/users/settings}" th:object="${settingsForm}" method="POST">
	<p th:text="${message}" />
		<label th:each="error : ${#fields.detailedErrors()}">
		<q th:text="${error.message}" style="color:red"></q><br></label>

		<label for="loginId">ログインID</label>
		<input type="text" name="loginId" th:field="*{loginId}" /><br>

		<label for="name">お名前</label>
		<input type="text" name="name" th:field="*{name}" /><br>

		<label for="rawPassword">パスワード</label>
		<input type="password" name="rawPassword" th:field="*{rawPassword}" /><br>

		<label for="name">確認用パスワード</label>
		<input type="password" name="comfirmPassword" th:field="*{comfirmPassword}" /><br>

		<label for="branch">支店</label>
			<select name="branchId" id = "branchId">
				<option th:each="br: ${branches}" th:value="${br.id}"
					th:selected="${br.id == settingsForm.branchId}" th:inline="text">[[${br.branchName}]]</option>
			</select><br>

		<label for="department">部署・役職</label>
			<select name="departmentId" id = "departmentId">
				<option th:each="depa: ${departments}" th:value="${depa.id}"
					th:selected="${depa.id == settingsForm.departmentId}" th:inline="text">[[${depa.departmentName}]]</option>
			</select><br>

		<input type="hidden" name="id" th:field="*{id}">
		<input type="submit" value="更新">
		<a href="/users">戻る</a>
	</form>
</body>
</html>